BASE_DOMAIN=load.dezerx.cloud
US_ORIGIN=https://node-us.dezerx.cloud
DE_ORIGIN=https://node-de.dezerx.cloud
SPARTAN_IMAGE=ghcr.io/dezer-x/dezerx-spartan@sha256:b681836d7bb0bae11e26891d3431f50ce5f35daf9a5efbf0bb45ffa10924ea9a
ORIGIN_SECRET=CHANGE_ME
